<div id="footer">

<div class="footer-text" id="contentarea">


  <div id="footer_content"><img src="/images/ftr.jpg" width="129" height="27" border="0" usemap="#Map2" />
<map name="Map2" id="Map2">
  <area shape="rect" coords="2,1,74,25" href="#" />
<area shape="rect" coords="82,3,104,24" href="#" /><area shape="rect" coords="109,6,126,20" href="#" /></map></div>
</div>
</body>
</html>
